In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('imdb_top_1000.csv')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [19]:
df.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [ ]:
# df['Meta_score'].fillna(df['Meta_score'].mean(),inplace=True)

In [25]:
# df.drop('Meta_score', axis=1,inplace=True)
# df.head()

In [ ]:
df.dropna(inplace=True)
df.head()

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 785 entries, 0 to 997
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    785 non-null    object
 1   Series_Title   785 non-null    object
 2   Released_Year  785 non-null    object
 3   Certificate    785 non-null    object
 4   Runtime        785 non-null    object
 5   Genre          785 non-null    object
 6   IMDB_Rating    785 non-null    float64
 7   Overview       785 non-null    object
 8   Director       785 non-null    object
 9   Star1          785 non-null    object
 10  Star2          785 non-null    object
 11  Star3          785 non-null    object
 12  Star4          785 non-null    object
 13  No_of_Votes    785 non-null    int64
 14  Gross          785 non-null    object
dtypes: float64(1), int64(1), object(13)
memory usage: 98.1+ KB