In [1]:
import pandas as pd

In [13]:
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\git_dataset\Indian_Kids_Screen_Time.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     6494 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

In [5]:
df.head()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban

# Nan qiymatlarni toldirish

In [ ]:
# for loop orqli nan object qiymatlarni toldirish

for cols in df.select_dtypes(include=['object']):    
    df[cols].fillna(df[cols].mode()[0], inplace=True)

In [ ]:
# int va float nan qiymatlarni toldirish
      
for num_cols in df.select_dtypes(include=['int64', 'float64']):
    df[num_cols].fillna(df[num_cols].mean(), inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     9712 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

# qiymatlarni Encoding qilish

In [23]:
from sklearn.preprocessing import LabelEncoder
labelling = LabelEncoder()

In [21]:
df.nunique()

Age                                   11
Gender                                 2
Avg_Daily_Screen_Time_hr             899
Primary_Device                         4
Exceeded_Recommended_Limit             2
Educational_to_Recreational_Ratio     31
Health_Impacts                        15
Urban_or_Rural                         2
dtype: int64

In [25]:
for obj_cols in df.select_dtypes(include=['object']):
    if df[obj_cols].nunique() <= 4:
        df = pd.get_dummies(df, columns=[obj_cols], prefix='yangi', dtype=int)
    else:
        df[obj_cols] = labelling.fit_transform(df[obj_cols])

# True va False raqamlashtiramiz

In [31]:
df['Exceeded_Recommended_Limit'] = df['Exceeded_Recommended_Limit'].replace([True, False],[1,0])

C:\Users\bunyo\AppData\Local\Temp\ipykernel_13276\489476657.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Exceeded_Recommended_Limit'] = df['Exceeded_Recommended_Limit'].replace([True, False],[1,0])

In [33]:
df.head()

,Age,Avg_Daily_Screen_Time_hr,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,yangi_Female,yangi_Male,yangi_Laptop,yangi_Smartphone,yangi_TV,yangi_Tablet,yangi_Rural,yangi_Urban
0,14,3.99,1,0.42,10,0,1,0,1,0,0,0,1
1,11,4.61,1,0.30,7,1,0,1,0,0,0,0,1
2,18,3.73,1,0.32,7,1,0,0,0,1,0,0,1
3,15,1.21,0,0.39,7,1,0,1,0,0,0,0,1
4,12,5.89,1,0.49,8,1,0,0,1,0,0,0,1

# Qiymatlarni Scaling qilish

In [ ]:
# kutubxonalarni chaqirish

from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

In [ ]:
df = std_scaler.fit_transform(df)