In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
dt_classifier = DecisionTreeClassifier()

In [2]:
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\git_dataset\medical_insurance.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   1338 non-null   int64
 1   gender                1338 non-null   object
 2   bmi                   1338 non-null   float64
 3   children              1338 non-null   int64
 4   discount_eligibility  1338 non-null   object
 5   region                1338 non-null   object
 6   expenses              1338 non-null   float64
 7   premium               1338 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 83.8+ KB

In [6]:
df.head()

,age,gender,bmi,children,discount_eligibility,region,expenses,premium
0,19,female,27.9,0,yes,southwest,16884.92,168.8492
1,18,male,33.8,1,no,southeast,1725.55,17.2555
2,28,male,33.0,3,no,southeast,4449.46,44.4946
3,33,male,22.7,0,no,northwest,21984.47,439.6894
4,32,male,28.9,0,no,northwest,3866.86,77.3372

In [7]:
x = df.drop(['expenses'], axis = 1)

In [9]:
y = df['expenses']

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [20]:
x_train

      age  gender   bmi  children discount_eligibility     region   premium
560    46  female  20.0         2                   no  northwest  183.8768
1285   47  female  24.3         0                   no  northeast  170.6934
1142   52  female  24.9         0                   no  southeast  542.3598
969    39  female  34.3         5                   no  southeast  171.9366
486    54  female  21.5         3                   no  northwest  249.5070
...   ...     ...   ...       ...                  ...        ...       ...
1095   18  female  31.4         4                   no  northeast   45.6119
1130   39  female  23.9         5                   no  southeast  171.6460
1294   58    male  25.2         0                   no  northeast  238.6226
860    37  female  47.6         2                  yes  southwest  922.2702
1126   55    male  29.9         0                   no  southwest  204.2928

[1070 rows x 7 columns]