In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
Labelling = LabelEncoder()
OneEncoding = OneHotEncoder()

In [5]:
df= pd.read_csv(r"C:\Users\bunyo\OneDrive\ドキュメント\AI-cource\data_sets\titanic.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [8]:
df['freq_encoding'] = df['Cabin'].value_counts()

In [12]:
df['Cabin'].value_counts()

Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E17            1
A24            1
C50            1
B42            1
C148           1
Name: count, Length: 147, dtype: int64

In [13]:
df['freq_encoding'] = df['Cabin'].map(df['Cabin'].value_counts())

In [14]:
df['freq_encoding']

0      NaN
1      1.0
2      NaN
3      2.0
4      NaN
      ...
886    NaN
887    1.0
888    NaN
889    1.0
890    NaN
Name: freq_encoding, Length: 891, dtype: float64

In [16]:
df['Cabin'].value_counts()

Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E17            1
A24            1
C50            1
B42            1
C148           1
Name: count, Length: 147, dtype: int64