# 7-dars

In [ ]:
# df duplicatedni ustun qilib chiqarish
# df ni duplicated ni tashab yuborilgan ustun xolatda chiqarish xolatda chiqarish
# df da raqam va nuqtadan boshqa hammasini tashab yuborish

In [36]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\git_dataset\medical_insurance.csv")

In [10]:
df.head()

,age,gender,bmi,children,discount_eligibility,region,expenses,premium
0,19,female,27.9,0,yes,southwest,16884.92,168.8492
1,18,male,33.8,1,no,southeast,1725.55,17.2555
2,28,male,33.0,3,no,southeast,4449.46,44.4946
3,33,male,22.7,0,no,northwest,21984.47,439.6894
4,32,male,28.9,0,no,northwest,3866.86,77.3372

# 8-dars

In [ ]:
# df ni one hot encode qilish
# label ecode qilish

# 9-dars

In [ ]:
# frequency encode qilish
# target encode qilish
# ordinal encode qilish
# df ni for + missing value bilan toldirish

# 10-dars

In [ ]:
# min_max, robust, standart scaling qilish df ni
# df ni for loop + encoding qilish
labeling = LabelEncoder()
for cols in df.select_dtypes(include=['object']):
        if df[cols].nunique() <= 3:
            df = pd.get_dummies(df, columns=[cols], prefix='yangi',dtype=int)
            # dummies = pd.get_dummies(df[cols], prefix='yangi',dtype=int)
            # df = pd.concat(df.drop([columns=[cols]), dummies], axis=1)
        else:
            df[cols] = labeling.fit_transform(df[cols])
df

# 11-dars

In [ ]:
# train test split chaqirish
# data fit qilish
# uni baholash

from sklearn.model_selection import train_test_split