# 7-dars

In [220]:
# df duplicatedni ustun qilib chiqarish
# df ni duplicated ni tashab yuborilgan ustun xolatda chiqarish xolatda chiqarish
# df da raqam va nuqtadan boshqa hammasini tashab yuborish

In [246]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df= pd.read_csv(r"C:\Users\bunyo\OneDrive\ドキュメント\AI-cource\data_sets\titanic.csv")

In [ ]:
df.loc[:, ~df.T.duplicated()]

In [ ]:
df['Ticket'] = df['Ticket'].replace(r'[^\d.]', '', regex=True)
df

# 8-dars

In [ ]:
# df ni one hot encode qilish
# label ecode qilish

In [ ]:
from sklearn.preprocessing import LabelEncoder
labeling = LabelEncoder()
# df['Pclass'] = labeling.fit_transform(df['Pclass'])
df = pd.get_dummies(df, columns=['Pclass'], prefix='yangi', dtype=int)
df

# 9-dars

In [ ]:
# frequency encode qilish
# target encode qilish
# ordinal encode qilish
# df ni for + missing value bilan toldirish

In [247]:
df['targeting'] = df['Name'].map(df.groupby('Name')['Survived'].mean())

In [255]:
yangi = pd.DataFrame({

    'daraja':['junior','middle','senior','junior','senior','junior','middle']
})

df = pd.concat([df,yangi], axis=1)

In [256]:
df['daraja'].value_counts()

ValueError: Grouper for 'daraja' not 1-dimensional

In [ ]:
df['daraja'].map({
    ''
})

In [ ]:
from sklearn.preprocessing import OrdinalEncoder,TargetEncoder


# qoshimcha = pd.DataFrame({
#     'ordinal_data': ['adult', 'senior','junior','adult', 'adult', 'junior','senior']
# })
# df = pd.concat([df,qoshimcha], axis=1)

In [ ]:
# df['ordin'] = df['ordinal_data'].map({
#     'junior' : 0,
#     'senior' : 1,
#     'adult' : 2
# })

# 10-dars

In [1]:
# min_max, robust, standart scaling qilish df ni
# df ni for loop + encoding qilish

In [159]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler, LabelEncoder
minmaxSr = MinMaxScaler()
labeling = LabelEncoder()

In [176]:
for num_cols in df.select_dtypes(include=['int64','float64']):
    df[num_cols] = minmaxSr.fit_transform(df[[num_cols]])

In [192]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [198]:
df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,108,22.0,1,0,523,7.2500,147,0,1,0,0,1
1,2,1,1,190,38.0,1,0,596,71.2833,81,1,0,1,0,0
2,3,1,3,353,26.0,0,0,669,7.9250,147,1,0,0,0,1
3,4,1,1,272,35.0,1,0,49,53.1000,55,1,0,0,0,1
4,5,0,3,15,35.0,0,0,472,8.0500,147,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,548,27.0,0,0,101,13.0000,147,0,1,0,0,1
887,888,1,1,303,19.0,0,0,14,30.0000,30,1,0,0,0,1
888,889,0,3,413,NaN,1,2,675,23.4500,147,1,0,0,0,1
889,890,1,1,81,26.0,0,0,8,30.0000,60,0,1,1,0,0
890,891,0,3,220,32.0,0,0,466,7.7500,147,0,1,0,1,0

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    int64
 10  Sex_female   891 non-null    int64
 11  Sex_male     891 non-null    int64
 12  Embarked_C   891 non-null    int64
 13  Embarked_Q   891 non-null    int64
 14  Embarked_S   891 non-null    int64
dtypes: float64(2), int64(13)
memory usage: 104.5 KB

In [193]:
for cols in df.select_dtypes(include=['object']):
        if df[cols].nunique() <= 3:
            df = pd.get_dummies(df, columns=[cols], dtype=int)
            # dummies = pd.get_dummies(df[cols], prefix='yangi', dtype=int)
            # df = pd.concat([df.drop(cols, axis=1, inplace=True), dummies])
        else: df[cols] = labeling.fit_transform(df[[cols]])

c:\Users\bunyo\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\bunyo\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\bunyo\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [200]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()

In [ ]:
num_cols = df.select_dtypes(include=['int64','float64']).columns.to_list()
num_cols

In [206]:
df[num_cols] = rs.fit_transform(df[num_cols])

In [207]:
df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,-1.000000,0.0,0.0,-0.757303,-0.335664,1.0,0.0,0.515235,-0.312011,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.997753,1.0,-2.0,-0.573034,0.559441,1.0,0.0,0.717452,2.461242,-66.0,1.0,-1.0,1.0,0.0,-1.0
2,-0.995506,1.0,0.0,-0.206742,-0.111888,0.0,0.0,0.919668,-0.282777,0.0,1.0,-1.0,0.0,0.0,0.0
3,-0.993258,1.0,-2.0,-0.388764,0.391608,1.0,0.0,-0.797784,1.673732,-92.0,1.0,-1.0,0.0,0.0,0.0
4,-0.991011,0.0,0.0,-0.966292,0.391608,0.0,0.0,0.373961,-0.277363,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.991011,0.0,-1.0,0.231461,-0.055944,0.0,0.0,-0.653740,-0.062981,0.0,0.0,0.0,0.0,0.0,0.0
887,0.993258,1.0,-2.0,-0.319101,-0.503497,0.0,0.0,-0.894737,0.673281,-117.0,1.0,-1.0,0.0,0.0,0.0
888,0.995506,0.0,0.0,-0.071910,NaN,1.0,2.0,0.936288,0.389604,0.0,1.0,-1.0,0.0,0.0,0.0
889,0.997753,1.0,-2.0,-0.817978,-0.111888,0.0,0.0,-0.911357,0.673281,-87.0,0.0,0.0,1.0,0.0,-1.0
890,1.000000,0.0,0.0,-0.505618,0.223776,0.0,0.0,0.357341,-0.290356,0.0,0.0,0.0,0.0,1.0,-1.0

# 11-dars

In [ ]:
# train test split chaqirish
# data fit qilish
# uni baholash

In [259]:
import pandas as pd
df1= pd.read_csv(r"C:\Users\bunyo\OneDrive\ドキュメント\AI-cource\data_sets\titanic.csv")

In [260]:
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\git_dataset\Indian_Kids_Screen_Time.csv")

In [261]:
df.head()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban

In [262]:
df.nunique()

Age                                   11
Gender                                 2
Avg_Daily_Screen_Time_hr             899
Primary_Device                         4
Exceeded_Recommended_Limit             2
Educational_to_Recreational_Ratio     31
Health_Impacts                        15
Urban_or_Rural                         2
dtype: int64